<div style="background-color: #877EB4" class="uk-card uk-card-primary uk-card-body">
  <h3 class="uk-card-title">Image Upload</h3>
  <form class="uk-form-stacked uk-text-left" action="/uploadfile" method="POST">
    <div class="uk-grid uk-grid-stack">
      <label class="uk-form-label" for="form-horizontal-text">Select Image</label>
      <div class="uk-form-controls">
        <input type="file" id="form-stacked-text" class="uk-input" name="imagefile" accept="image/png, image/jpeg">
      </div>
    </div>
    <p uk-margin>
      <input type="submit" value="Upload" class="uk-button uk-button-default">
    </p>
  </form>
</div>
